* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html {
  background-color: #fff1d8;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

html::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

nav {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
}

a {
  text-decoration: none;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: inline-block;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: -3px;
  left: 0;
  background-color: #333;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

footer a:first-of-type {
  margin-right: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.image {
  width: 50%;
}

.title {
  position: absolute;
  font-size: 150px;
  color: grey;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-top: 8px;
}

.detail p {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.custom__cursor__inner {
  height: 8px;
  width: 8px;
  position: fixed;
  transform: translate(0px, 0px);
  background-color: #333;
  border-radius: 50%;
  transition: height .3s cubic-bezier(0.46,0.03,0.52,0.96), width .3s cubic-bezier(0.46,0.03,0.52,0.96);
  z-index: 5000;
  pointer-events: none;
}

.custom__cursor__outer {
  height: 48px;
  width:  48px;
  border-radius: 50%;
  border: 1px solid #333;
  background-color: transparent;
  position: fixed;
  z-index: 5000;
  transform: translate(0px, 0px);
  pointer-events: none;
  opacity: 1;
}
