body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff1d8;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.box {
  top: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.image {
  width: 40%;
}

.title {
  position: absolute;
  font-size: 150px;
  color: grey;
}

.detail {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 40%;
  margin-top: 16px;
}

.detail p {
  color: grey;
}

header, footer {
  height: 500px;
}
